* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background: #333; */
  background: #fff;
  height: 100vh;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 600px;
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 160px;
  text-align: left;
}

header img {
  width: 180px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  display: flex;
  align-items: center;
  justify-content: right;
}

.search {
  height: 100px;
}

/* missing css */

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.card {
  width: 450px;
  perspective: 1000px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(182, 127, 121, 0.452); */
  background-color: rgba(10, 99, 87, 0.219);
}

.card h1 {
  font-size: 18px;
  border-bottom: 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 450px;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.card-text {
  margin: 20px;
  position: relative;
}

.title {
  font-size: 1.2em;
  font-family: "Arima Madurai", cursive;
}

.blurb {
  font-weight: 500;
  color: #333;
}

.like-button {
  color: rgb(173, 169, 169) !important;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  border: 0px;
  margin-top: 6px;
  font-size: 40px;
  display: inline-block;
  transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2);
}

.card-inner {
  /* position: relative; */
}
